name: item_store
description: A service locator.
version: 2.3.2
repository: https://github.com/krisztian2545/item_store

environment:
  sdk: ^3.10.0

# Add regular dependencies here.
dependencies:
  # path: ^1.8.0

dev_dependencies:
  lints: ^3.0.0
  test: ^1.24.0
